# Necessary code cells copied from primary assignment

In [0]:
import numpy as np
import pandas as pd

In [2]:
# Load the dataset zip file using bash command

!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-04-10 18:58:48--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 54.201.17.45, 52.42.29.192, 54.69.167.66
Connecting to resources.lendingclub.com (resources.lendingclub.com)|54.201.17.45|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

LoanStats_2018Q4.cs     [        <=>         ]  21.77M  1.72MB/s    in 12s

2020-04-10 18:59:01 (1.75 MB/s) - ‘LoanStats_2018Q4.csv.zip.1’ saved [22826918]

In [3]:
# Use the !unzip command to ectract the csv from the zipped folder

!unzip /content/LoanStats_2018Q4.csv.zip

Archive:  /content/LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: LoanStats_2018Q4.csv

In [4]:
# Read in CSV and fix header and footer problems using 
# 'skip rows' and 'skip footer' parameters

df = pd.read_csv('/content/LoanStats_2018Q4.csv', skiprows=1, skipfooter=2,
                 engine="python")
print(df.shape)
df.head()

(128412, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
# Display max rows to get better view of null values

pd.set_option('display.max_rows', 500)

In [6]:
# Drop columns that are made up of all NaN Values

df = df.drop(['url', 'member_id', 'desc', 'id'], axis=1)

# Check table to make sure colums were dropped

df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      35000        35000  ...                    NaN             NaN
1       5000         5000  ...                    NaN             NaN
2      10000        10000  ...                    NaN             NaN
3      17100        17100  ...                    NaN             NaN
4       4000         4000  ...                    NaN             NaN

[5 rows x 140 columns]

In [7]:
# Our original fix from lecture
def int_rate_to_float(value):
  return float(value.strip().strip('%'))

df['int_rate'] = df['int_rate'].apply(int_rate_to_float)

# Check to make sure the changes were made to the original column

df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      35000        35000  ...                    NaN             NaN
1       5000         5000  ...                    NaN             NaN
2      10000        10000  ...                    NaN             NaN
3      17100        17100  ...                    NaN             NaN
4       4000         4000  ...                    NaN             NaN

[5 rows x 140 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

## Stretch Goal 1 = There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.

In [8]:
# The other column in the dataframe with percent signs is the revol_util column. 
# I will remove them and convert to floats and handle missing values.

df['revol_util'].head()

0    43.2%
1    47.1%
2    53.9%
3      53%
4    28.6%
Name: revol_util, dtype: object

In [9]:
# Checking to see if Missing Values were handled.
df['revol_util'].isnull().sum()

156

In [0]:
# Changed Column from Object to Float
df['revol_util'] = (df['revol_util'].str[:-1].astype(float))

In [0]:
df["revol_util"] = pd.to_numeric(df["revol_util"], downcast="float")

In [0]:
df['revol_util'] = df['revol_util'].replace(np.nan, 0)

        loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0           35000        35000  ...                    NaN             NaN
1            5000         5000  ...                    NaN             NaN
2           10000        10000  ...                    NaN             NaN
3           17100        17100  ...                    NaN             NaN
4            4000         4000  ...                    NaN             NaN
...           ...          ...  ...                    ...             ...
128407      23000        23000  ...                    NaN             NaN
128408      10000        10000  ...                    NaN             NaN
128409       5000         5000  ...                    NaN             NaN
128410      10000        10000  ...                    NaN             NaN
128411      10000        10000  ...                    NaN             NaN

[128256 rows x 140 columns]

In [42]:
df['revol_util'].isnull().sum()

0

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01